.username {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.bioStringInput {
  height: 34px !important;
}

.bioIconContainer:hover {
  cursor: pointer;
}

.profilePic {
  display: block;
  height: 192px;
  width: 192px;
  margin: 0 auto;
}

.save {
  border-color: #40b329;
  background-color: #40b329;
  color: white;
}

.save:hover,
.save:active,
.save:focus {
  background-color: #349121;
  border-color: #349121;
}

.cancel {
  color: #6b6c6e;
  background-color: #ffffff;
  border-color: #ced4da;
  margin-left: 1rem;
  font-weight: bold;
}

.cancel:hover,
.cancel:active,
.cancel:focus,
.editButton:hover,
.editButton:active,
.editButton:focus {
  color: #6b6c6e;
  background-color: #ffffff;
  border-color: #ced4da;
}

.editButton {
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  border-color: #ced4da;
  color: #6b6c6e;
}

.envelope {
  max-width: 42px;
  min-width: 42px;
  border: 1px solid #ced4da;
}

.envelope:hover {
  cursor: pointer;
}

.envelope span {
  border: none;
  width: 100%;
  padding: 4px 0;
}

.envelope img {
  display: block;
  margin: auto;
}

.dropdown {
  min-width: 188px;
  max-width: 188px;
}

.dropdown > button {
  border-color: #ced4da;
  min-width: 188px;
  max-width: 188px;
  text-align: left;
}

.blankEmail {
  color: #ffffff;
}

.blankEmail:hover {
  color: #007bff;
  background-color: #007bff;
}

.choice:hover {
  color: #ffffff;
  background-color: #007bff;
}

.error {
  color: #f02849;
  text-align: center;
}
