.top {
  background-color: #f44336;
  padding: 50px 0;
  position: relative;
}

.header h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #ffffff;
  margin: 25px 0;
}

.linksContainer,
.profileContainer {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.profile {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 17px;
}

.button {
  margin-right: 5px;
}

.nav {
  display: flex;
}

.items {
  margin-left: 5px;
}

.profileText {
  margin: 0 auto;
}

.profilePic {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 1280px) {
  .width {
    width: 60%;
    margin: 0 auto;
  }
}
