.form {
  width: 50%;
  margin: 0 auto;
}

.error,
.error:focus,
.error:active {
  border: 1px solid #f02849;
}

.textError {
  color: #f02849;
  animation: pop 0.25s ease-in-out;
}
@keyframes pop {
  50% {
    transform: scale(1.1);
  }
}

.boldError {
  font-weight: 600;
}

.loginButton {
  width: 100%;
  text-align: center;
}

.relative {
  position: relative;
}

.authProblem {
  position: absolute;
  right: 5px;
  top: 10%;
}

.showPW1 {
  position: absolute;
  right: 35px;
  top: 10%;
  border: none;
  outline: none;
}

.showPW2 {
  position: absolute;
  right: 5px;
  top: 10%;
  border: none;
  outline: none;
}

.showPW1:hover,
.showPW2:hover {
  cursor: pointer;
}

.showPW1:focus,
.showPW2:focus {
  outline: none;
}
