.form {
  width: 50%;
  margin: 0 auto;
}

.error,
.error:focus,
.error:active {
  border: 1px solid #f02849;
}

.textError {
  color: #f02849;
  transition: 200ms;
}

.boldError {
  font-weight: 600;
  color: #f02849;
}

.boldError:hover {
  font-weight: 600;
  color: #f02849;
}

.loginButton {
  width: 100%;
  text-align: center;
}

.signupButton {
  width: 100%;
  text-align: center;
  background-color: #42b72a;
  border-color: #42b72a;
}

.signupButton:hover,
.signupButton:active,
.signupButton:focus {
  background-color: #349121;
  border-color: #349121;
}

.relative {
  position: relative;
}

.authProblem {
  position: absolute;
  right: 5px;
  top: 10%;
}

.showPW1 {
  position: absolute;
  right: 35px;
  top: 10%;
  border: none;
  outline: none;
}

.showPW2 {
  position: absolute;
  right: 5px;
  top: 10%;
  border: none;
  outline: none;
}

.showPW1:hover,
.showPW2:hover {
  cursor: pointer;
}

.showPW1:focus,
.showPW2:focus {
  outline: none;
}

.bold {
  transform: translateX(-50px);
}

.blankUsernameMessage {
  opacity: 0;
}

.tokenCookieContainer {
  display: flex;
  margin: auto;
  margin-top: 10px;
  justify-content: space-evenly;
}

.check:hover {
  cursor: pointer;
}

.check input:hover {
  cursor: pointer;
}

.check label:hover {
  cursor: pointer;
}

.overHead {
  width: 25%;
  margin: 0 auto;
}
